@{
    ViewBag.Title = "GC Student Task List";
}

<h2>Welcome to the @ViewBag.Title</h2>
<br />


<form action="/Home/UserLogin?UserID" method="get">
    User ID: <input type="text" name="UserID" />  Password: <input type="password" name="UserPassword" />
    <br /><br />
    <input type="submit" value="Sign In" />
</form>
<br /><br />
<span id="error">@ViewBag.ErrorMessage</span>
<br /><br />
<form action="/Home/RegisterNewUser" method="get">
    Are you a new user? <input type="submit" value="Register Here!" />
</form>

